*
  margin: 0;
  padding: 0;


#part1
  width: 100vw;
  height: 49.875rem;
  background-image: url("../../assets/bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .part1-container
    display: flex;
    justify-content: center;
    height: 43.125rem;
    position: relative;
    .head-bar
      width: 75.625rem;
      height: 4.25rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      .qylogo
        width: 12.6875rem;
        margin-right: 18.8125rem;
      .nav-list
        width: 33rem;
        height: 1.8125rem;
        margin-right: 2.375rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .nav-item
          line-height: 1.8125rem;
          font-size: 1.3125rem;
        .first
          font-weight: 600;
          color: #6ba32a;
        .second
          color: #4a4a4a;
        .third
          color: #676767
      button
        width: 8.75rem;
        height: 2.75rem;
        font-size: 1.125rem;
        color: #606266;
        outline: none;
        border: none;
        border-radius: 2.5rem;
        text-decoration: none;
        background: -webkit-gradient(linear,left top,right top,from(#8bd21f),to(#d8d23e));
        background: linear-gradient(90deg,#8bd21f,#d8d23e);
        -webkit-box-shadow: 0.125rem 0.25rem 0.3125rem #f3f6ac;
        box-shadow: 0.125rem 0.25rem 0.3125rem #f3f6ac;
        cursor: pointer;
    .head-content-container
      position: absolute;
      top: 8.125rem;
      text-align: center;
      .content-title
        color: #6ba32a;
        font-size: 4.125rem;
        font-family: Helvetica;
        margin-bottom: 2.5rem;
      .content-container
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 52.375rem;
        height: 8.75rem;
        margin-bottom: 5.75rem;
        font-size: 1.125rem;
        color: #676767;
        .last
          font-weight: 600;
      .more
        color: #6ba32a;
        font-size: 1.125rem;
        font-weight: bold;
    .top-bg
      position: absolute;
      // right: -600px;
      bottom: -3.375rem;
      width: 51.25rem;
      height: 38.125rem;
      img
        width: 100%;
        height: 100%;
