#part3
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100vw;
  height: 799px;
  background-color: #336633;
  background-image: url("../../assets/bg3left.png"), url("../../assets/bg3right.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 535px 524px, 541px 524px;
  background-position: 0 0, 100% 275px;
  @media screen and (max-width: 920px)
    height: 948px;
    background-size: 270px 361px, 305px 361px;
    background-position: 0 0, 100% 580px;
  .part3-container
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1250px;
    height: 571px;
    @media screen and (max-width: 1280px)
      justify-content: space-around;
    @media screen and (max-width: 920px)
      position: relative;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 80vw;
      height: 880px;
    .left-container
      width: 382px;
      @media screen and (max-width: 1160px)
        width: 280px;
      @media screen and (max-width: 920px)
        width: 100%;
      .title
        margin-bottom: 35px;
        font-size: 39px;
        color: #92d241;
        @media screen and (max-width: 920px)
          font-size: 26px;
          margin-bottom: 21px;
      .content
        margin-bottom: 55px;
        font-size: 18px;
        font-weight: 100;
        letter-spacing: 1px;
        color: #d1d1d1;
        @media screen and (max-width: 920px)
          font-size: 14px;
          margin-bottom: 26px;
        p
          padding: 5px 0
      .people-num
        margin-bottom: 39px;
        @media screen and (max-width: 920px)
          margin-bottom: 31px;
        .num-item
          display: inline-block;
          margin-right: 49px;
          .num
            font-size: 39px;
            font-weight: 300;
            font-family: Arial, Helvetica, sans-serif;
            color: #92d241;
            span
              margin-left: 5px;
              font-size: 15px;
          .tag
            font-size: 15px;
            color: #6ba32a;
      .join
        width: 140px;
        height: 49px;
        color: #ffffff;
        font-size: 14px;
        background: linear-gradient(90deg,#8bd21e,#efe70e);
        border-radius: 24px;
        border: none;
        outline: none;
        cursor: pointer;
        @media screen and (max-width: 920px)
          position: absolute;
          bottom: -15px;
          left: 50%;
          transform: translateX(-50%);
    .right-container
      width: 699px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      @media screen and (max-width: 1160px)
        width: 460px;
      .photo-wall
        display: grid;
        overflow: hidden;
        grid-template-columns: 110px [main-start] 110px 110px [main-end] repeat(3, 110px);
        grid-template-rows: 124px [main-start] 124px 124px [main-end] 124px;
        grid-column-gap: 8px;
        grid-row-gap: 9px;
        width: 100%;
        height: 520px;
        margin-bottom: 22px;
        @media screen and (max-width: 1160px)
          grid-template-columns: [main-start] 110px 110px [main-end] repeat(2, 110px);
          grid-template-rows: 125px [main-start] 125px 125px [main-end] 125px;
          height: 527px;
        @media screen and (max-width: 920px)
          grid-template-columns: [main-start] 81px 81px [main-end] repeat(2, 81px);
          grid-template-rows: 92px [main-start] 92px 92px [main-end] 92px;
          grid-gap: 6px 6px;
          width: 343px;
          height: 386px;
          margin: 0 auto 16px;
        img
          width: 100%;
          height: 100%;
        .item
          width: 100%;
          height: 100%;
          background-color: #f5f5f5;
          z-index: 10;
        .opacity
          opacity: 0.6;
        .item-main
          width: 100%;
          height: 100%;
          grid-column-start: main-start;
          grid-column-end: main-end;
          grid-row-start: main-start;
          grid-row-end: main-end;
          z-index: 1;
      .random
        cursor: pointer;
        color: #92d241;
        text-align: right;
        width: 95px;
        height: 28px;
        font-size: 18px;
        @media screen and (max-width: 920px)
          margin: 0 auto;
        


      